@import "../../../scss/common.styles.scss";

.titleContainer {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 12vh;
        margin: auto;
        border-bottom: 1px solid $main-1;
    }
}