@import "../../../scss/common.styles.scss";

.thirdPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $main-1;
    color: $main-2;
    .mainIcon {
        width: 200px;
        height: 200px;
        margin-right: 100px;
    }
    .bodyContainer {
        text-align: center;
        .downloadButton {
            padding: 10px;
            border: 1px solid $main-2;
        }
    }
}