@import "../../scss/common.styles.scss";

.landingPageComponent {
    height: 100vh;
    overflow: hidden;
    .landingPageContentContainer {
        width: 100%;
        transform-style: preserve-3d;
        transition: all 1s;
    }
    .navArrowsButtonContainer {
        position: fixed;
        display: flex;
        align-items: flex-start;
        right: 65px;
        bottom: 65px;
        .navArrowButtonContainer {
            padding: 5px;
            background: $main-1;
            border: 2px solid $main-2;
            border-radius: 50%;
            .navArrowButton {
                width: 20px;
                height: 20px;
            }
        }
    }
}