@import "../../scss/common.styles.scss";

.landingPageComponent {
    display: flex;
    width: 100%;
    height: 100%;
    color: $main-1;
    .landingPageContentContainer {
        width: 100%;
        padding: 20px;
        background: $lighter-purple;
        .landingPageNavContainer {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 10px 20px;
            border-bottom: 1px solid $main-1;
            .logoIcon {
                width: 40px;
                height: 40px;
            }
            ul {
                display: flex;
                align-items: flex-end;
                list-style: none;
                a {
                    padding: 0 10px;
                    color: $main-1;
                    font-size: $font-size-l;
                    font-weight: 700;
                }
            }
        }
        .landingPageContent {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            justify-content: center;
            align-items: center;
            .contentBody {
                width: 50%;
                line-height: 1.5;
            }
        }
    }
}