@import "../../scss/common.styles.scss";

.landingPageComponent {
    .landingPageContentContainer {
        width: 100%;
        transform-style: preserve-3d;
        transition: all 1s;
    }
    .contentButtonsContainer {
        display: none;
        position: fixed;
        width: 100%;
        bottom: 0;
        .buttonContainer {
            position: relative;
            display: flex;
            align-items: center;
            .contentButtonContainer {
                margin: 30px 15px;
                padding: 5px;
                background: $main-1;
                border: 2px solid $main-2;
                border-radius: 50%;
                .contentButton {
                    width: 35px;
                    height: 35px;
                }
            }
            .learnMoreLabel {
                position: absolute;
                right: -70px;
            }
        }
    }
}