@import "../../../scss/common.styles.scss";

.secondPageContainer {
    height: 100vh;
    background: linear-gradient($light-blue 50vh, $main-1 70vh);
    .mainContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 70vh;
        .headerContainer {
            margin: .5em 3em;
            .header {
                color: $darkest-gray;
                font-size: 2.5em;
            }
            .subHeader {
                color: $basically-black;
                font-size: 3em;
            }
        }
        .carousel-container {
            margin: 0;
            background: transparent;
            box-shadow: none;
            .ui.card:after, .ui.cards:after {
                content: none;
            }
            .description {
                cursor: pointer;
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
                font-style: normal;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1em;
            }
            .carousel-indicators {
                margin-top: 25px;
                text-align: center;
                .ui.black.label {
                    margin: 0 3px;
                    background-color: $darkest-gray !important;
                    border-color: $darkest-gray !important;
                }
                .ui.grey.label {
                    margin: 0 3px;
                    background-color: $main-1 !important;
                    border-color: $main-1 !important;
                }
            }
            .prev {
                position: absolute;
                left: 3em;
                bottom: 10px;
                margin: 0;
                box-shadow: $shadow-light;
            }
            .next {
                @extend .prev;
                left: initial;
                right: 3em;
            }
        }
    }
    .footerContainer {
        height: 30vh;
        .footerColumnsContainer {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 80%;
            border-bottom: 1px solid $gray;
            .footerColumn {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                width: 130px;
                height: 50%;
                margin-bottom: 2em;
                cursor: not-allowed;
                .columnTitle {
                    color: $almost-black;
                    font-family: Helvetica 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: $font-size-l;
                }
                .columnLink {
                    color: $gray;
                    font-size: 16px;
                    opacity: 0.55; 
                    pointer-events: none;
                }
                .visited {
                    color: $gray;
                }
                .buttonContainer {
                    cursor: not-allowed;
                    button {
                        opacity: 0.55; 
                        pointer-events: none;
                    }
                    .columnButton {
                        width: 13px;
                        height: 50px;
                    }
                }
            }
            .socialMediaLinksRow {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                .socialMediaLinksContainer {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 50%;
                    margin: auto;
                    cursor: not-allowed;
                    .linkContainer {
                        opacity: 0.55;
                        pointer-events: none;
                        .socialMediaIcon {
                            width: 25px;
                            height: 25px;
                            margin: 15px;
                        }
                    }
                }
            }
        }
        .copyrightRow {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20%;
            color: $gray;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}