@import "../../scss/common.styles.scss";

.mainHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    .mainHeaderIcon {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .title {
        margin-left: 5px;
    }
}