@import "../../../scss/common.styles.scss";

.firstPageContainer {
    height: 100vh;
    background: $strong-blue;
    margin-bottom: 2em;

    .headerContainer {
        .titleContainer {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .topMarginContainers {
           margin-top: 4vh;
        }

        ul {
            align-self: center;
            list-style: none;
            justify-content: center;
            padding: 20px 0;

            a {
                margin-right: 40px;
                padding: 10px;
                color: $main-1;
                font-size: $font-size-medium;
                font-weight: 700;
            }
        }
    }

    .bodyContainer {
        color: white;
        margin-left: 1em;
        margin-top: 10%;
    }
}