@import "../../../scss/common.styles.scss";

.firstPageContainer {
    position: relative;
    height: 100vh;
    background: linear-gradient($strong-blue 50vh, $main-1 80vh);
    .headerContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .leftMargin {
            margin-left: 1em;
        }
        .topMarginContainers {
           margin-top: 4vh;
           .buttonHeight {
                font-size: 18px !important;
            }
        }
        ul {
            align-self: center;
            list-style: none;
            justify-content: center;
            padding: 20px 0;
            a {
                margin-right: 40px;
                padding: 10px;
                color: $main-1;
                font-size: $font-size-medium;
                font-weight: 700;
            }
        }
    }
    .bodyContainer {
        color: $main-1;
        margin-left: 1em;
        margin-top: 10%;
    }
    .messageContainer {
        color: $main-1;
        margin-left: 2em;
    }
    .gettingStartedButton {
        background-color: #F4EFEF !important;
        color:  #1F305D !important;
        border-radius: 80px !important;
        font-size: 2em !important;
        font-weight: bold !important;
    }
    .footerContainer {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 50px;
        text-align: center;
        .footerHeader {
            color: $almost-black;
            font-family: Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 3em;
            .lightYellowBox {
                color: transparent;
                background: $light-yellow;
            }
            .darkYellowBox {
                @extend .lightYellowBox;
                background: $dark-yellow;
                margin-right: 20px;
            }
        }
        .footerMessage {
            width: 40%;
            margin: auto;
            color: $dark-gray;
            font-size: 1.5em;
            font-style: italic;
            line-height: 110%;
        }
    }
}