* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover, button:hover, div[role=button] {
  cursor: pointer;
}
a:visited {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100vh;
  overflow: hidden;
}