@import "./variables.scss";

input,
textarea,
button {
    background: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    resize: none;
}

input:focus, 
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-size: $font-size-normal;
    color: $main-2;
    font-weight: 500;
    opacity: 30%;
}

.fullHeight {
    height: 100vh;
}

.fullWidth {
    width: 100%;
}

.userContentPageColor {
    background-color: $user-page-color;
}

.userSideBarColor {
    background-color: $side-bar-color !important;
}

.logoImageOnUserSideBar {
    align-self: center;
    margin-top: 8vh;
    width: 2vh;
}

.userContentPageColor {
    background-color: $user-page-color;
}

.displayFlex {
    display: flex;
}

.transparentBackground {
    opacity: 0;
}

.columnFlexDirection {
    flex-direction: column;
}

.startContent {
    justify-content: flex-start;
}

.centeredJustifiedContent {
    justify-content: center;
}

.centerAlignedText {
    text-align: center;
}

.buttonContainer {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.appNameFontFamily {
    font-family: 'Playball';
}

.appNameFontSize {
    font-size: 8vh;
}

.blackFont {
    color: black;
}

.contentPadding {
    padding: 1%;
}

.sidebarWidth {
    width: 30vh !important;
}

.roundBorderRadious {
    border-radius: 2em !important;
}

.blueBackgroundColor {
    background-color: $blue-background;
}

.boldFontWeight {
    font-weight: bold !important;
}

.darkBlueFontColor {
    color: $title-color;
}