@import "../../scss/common.styles.scss";

.sideLinks {
	margin-top: 3.5vh;
	.sidebarNavLinks {
		color: $main-1;
		font-size: 1.25em;
	}
	.sidebarNavLinks.active {
		color: #fec660;
		font-weight: bold;
	}
}