@import "../../scss/common.styles.scss";

.sideLinks {
	margin-top: 3.5vh;
	.sidebarNavLinks {
		color: $main-1;
		font-size: 1.25em;
	}
	.sidebarNavLinks.active {
		color: #F6C469;
		font-weight: bold;
	}
}

.cellSideBar {
	display: flex;
}

.contentOfSideBar {
	margin-top: 5em;
}